* {
  box-sizing: border-box;
}

body {
  background-color: #629dd4;
}

body.winner {
  background-color: rgb(84, 156, 12);
}

body.loser {
  background-color: rgb(153, 39, 39);
}

.answerbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 3px solid grey; 
}

h1 {
  width: fit-content;
  align-self: center;
  margin: 50px auto 30px auto;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: whitesmoke;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
}

p {
  width: fit-content;
  align-self: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: whitesmoke;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  margin-top: 50px;
}


#new-question {
  display: block;
  width: fit-content;
  align-self: center;
  margin: 50px auto 30px auto;
  text-align: center;
}

#truebtn {
  
  display: flex;
  justify-content: center;
  align-items: center; 
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(78, 192, 93);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  /* position: relative; */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#falsebtn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(212, 63, 63);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



#scoretracker {
  display: block;
  width: fit-content;
  align-self: center;
  margin: 50px auto auto auto;
  width: fit-content;
  align-self: center;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: whitesmoke;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  margin-top: 30px;
}

.score {
  display: block;
  width: fit-content;
  align-self: center;
  margin: 50px auto auto auto;
  width: fit-content;
  align-self: center;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: whitesmoke;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  margin-top: 50px;
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.25em 0.75em;
  }
}
